@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Matemasie&display=swap');

  /* Estilos generales */
body{
    background: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abded4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 2em;
}

/* Estilos para el contenedor principal */
#app { 
    padding: 85px;

}

/* Estilos para el formulario*/
form {
    display: flex;
    justify-content: space-between;
}

/* Estilos al input */
input {
    width: 75%;
    padding: 8px;
    margin-right: 5px;
    border-radius: 3px;
    border-color: #369bee;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 14px;
}

/* Estilos al botón */
button {
    padding: 5px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 14px;
}

/* Estilos de la lista */
ul{
    list-style: none;
    padding: 8px;
    margin-right: 3px;
    border-radius: 3px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 14px;
}

/* Estilos a los elementos de la lista */

li {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

/* Estilos para cuando una tarea está completada */
li.completed {
    text-decoration: line-through;
    color: #888;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #369bee;
      
}
